<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SVPMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9472B5AA1E23AF9300C9CA2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9472B5BE1E23AF9400C9CA2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9472B5C91E23AF9400C9CA2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
